@import "tailwindcss";

@theme {
  --color-brand-light: #d3d5ff;
  --color-brand-dark: #2c2c44;
}

@font-face {
  font-family: "KantumruyPro";
  src: url("/src/fonts/KantumruyPro-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "KantumruyPro";
  src: url("/src/fonts/KantumruyPro-Italic-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: italic;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: black;
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
